# Importing & Displaying the Given Data

In [42]:
import pandas as pd
data = pd.read_csv('input_file/anom_order.out', sep = '_', header = None, names = ['ed', '-', 'ETH', 'Source', 'anom', 'DateTime'])
data['DateTime'] = data['DateTime'].str.replace('.csv', '')
data = data[['Source','DateTime']]
data['DateTime'] = pd.to_datetime(data['DateTime'], unit='ns')
data['Date'] = [i.date() for i in data['DateTime']]
data['Time'] = [j.time() for j in data['DateTime']]
df = data[['Source', 'Date', 'Time']]
df

      Source        Date      Time
0        KIN  2017-12-29  14:36:44
1       BLUE  2017-12-29  14:35:47
2        KIN  2017-12-29  14:34:57
3       BLUE  2017-12-29  14:34:43
4        KIN  2017-12-29  14:34:14
5       BLUE  2017-12-29  14:33:56
6        KIN  2017-12-29  14:33:36
7       BLUE  2017-12-29  14:33:13
8        KIN  2017-12-29  14:32:15
9       BLUE  2017-12-29  14:31:58
10       KIN  2017-12-29  14:30:57
11       KIN  2017-12-29  14:30:05
12       KIN  2017-12-29  14:28:55
13       KIN  2017-12-29  14:27:32
14       KIN  2017-12-29  14:27:03
15       KIN  2017-12-29  14:25:52
16       KIN  2017-12-29  14:24:27
17       KIN  2017-12-29  14:23:35
18       KIN  2017-12-29  14:22:28
19       KIN  2017-12-29  14:20:44
20       KIN  2017-12-29  14:19:54
21       KIN  2017-12-29  14:19:41
22       KIN  2017-12-29  14:18:04
23       KIN  2017-12-29  14:17:32
24       KIN  2017-12-29  14:16:23
25       KIN  2017-12-29  14:12:19
26       KIN  2017-12-29  14:11:57
27       KIN  2017-12-29  14:09:02
28       KIN  2017-12-29  14:02:24
29       KIN  2017-12-29  14:00:40
...      ...         ...       ...
25869    XNN  2017-11-27  19:16:18
25870    XNN  2017-11-27  19:02:20
25871   BLUE  2017-11-27  19:00:54
25872   BLUE  2017-11-27  18:59:53
25873    XNN  2017-11-27  18:54:23
25874    ZRX  2017-11-27  18:51:11
25875    XNN  2017-11-27  18:47:48
25876    XNN  2017-11-27  18:40:08
25877   BLUE  2017-11-27  18:11:31
25878    XNN  2017-11-27  18:05:07
25879    KNC  2017-11-27  18:04:10
25880   BLUE  2017-11-27  18:01:44
25881   BLUE  2017-11-27  17:53:10
25882    XNN  2017-11-27  17:52:15
25883    XNN  2017-11-27  17:49:59
25884   BLUE  2017-11-27  17:43:24
25885    XNN  2017-11-27  17:41:29
25886    XNN  2017-11-27  17:40:01
25887   BLUE  2017-11-27  17:39:19
25888   BLUE  2017-11-27  17:30:48
25889    XNN  2017-11-27  17:25:30
25890   BLUE  2017-11-27  17:24:31
25891   BLUE  2017-11-27  17:21:27
25892    XNN  2017-11-27  17:19:10
25893    XNN  2017-11-27  17:17:28
25894   BLUE  2017-11-27  17:16:46
25895    XNN  2017-11-27  17:05:51
25896    XNN  2017-11-27  16:58:08
25897    XNN  2017-11-27  16:49:14
25898    XNN  2017-11-27  16:44:50

[25899 rows x 3 columns]

# Calculating Frequency of the Sources

In [38]:
df1 = pd.DataFrame(df.Source.value_counts())
# df1 is a dataframe which contains the 'Source' and the total count of each Sources.
df1 = df1.rename(columns = {'Source' : 'Count_of_the_source'})
df1.index.name = 'Source'
df1.to_csv('output_files/frequency_of_sources.csv')
df1

        Count_of_the_source
Source
KIN                    7107
CVC                    3794
KNC                    3368
BAT                    3324
BLUE                   2718
ZRX                    2139
XNN                    1659
MKR                    1329
ATM                     461

# Calculating Datewise Frequency of received files

In [37]:
df2 = pd.DataFrame(df.Date.value_counts())
# df1 is a dataframe which contains the 'Source' and the total count of each Sources.
df2 = df2.rename(columns = {'Date' : 'Files_received_on_particular_date'})
df2.index.name = 'Date'
df2.to_csv('output_files/no_of_files_on_particular_date.csv')
df2

            Files_received_on_particular_date
Date
2017-12-28                               5685
2017-12-20                               3114
2017-12-23                               2918
2017-12-24                               2530
2017-12-25                               2182
2017-12-22                               1923
2017-12-26                               1875
2017-12-27                               1665
2017-12-29                               1515
2017-12-19                               1510
2017-12-18                                728
2017-11-28                                101
2017-11-27                                 64
2017-11-29                                 47
2017-11-30                                 37
2017-12-21                                  5